# memory config
vm_memory_high_watermark.relative = 0.8
vm_memory_high_watermark_paging_ratio = 0.75

# port config
management.listener.port = 15672

# log config
log.file.rotation.date = $D0
log.file.rotation.count = 2
log.dir = /rabbitmq/logs

# plugin config
collect_statistics_interval = 60000
prometheus.tcp.idle_timeout = 300000
prometheus.tcp.inactivity_timeout = 300000
prometheus.tcp.request_timeout = 300000

# tuning for large number of connections
tcp_listen_options.backlog = 128
tcp_listen_options.nodelay = true
tcp_listen_options.linger.on      = true
tcp_listen_options.linger.timeout = 0
tcp_listen_options.sndbuf  = 32768
tcp_listen_options.recbuf  = 32768
stomp.tcp_listen_options.backlog = 128
stomp.tcp_listen_options.nodelay = true
stomp.tcp_listen_options.linger.on      = true
stomp.tcp_listen_options.linger.timeout = 0
stomp.tcp_listen_options.sndbuf  = 32768
stomp.tcp_listen_options.recbuf  = 32768
